<div class="home-header">
  {{#if userSearch}}
    <h1>We have {{thoughtsQty}} thoughts for <span>{{userSearch}}</span></h1>
  {{else}}
    <h1>All Thoughts</h1>
  {{/if}}

  <form action="" method="">
    <input type="text" name="search" value="" placeholder="Search by..." />
    <input type="submit" value="Search" clas="btn" />
  </form>

  <div class="order-container">
    <span>Oder by:</span>
    <form action="" method="">
      <input type="hidden" name="search" value="{{userSearch}}" />
      <input type="hidden" name="order" value="desc" />
      <button type="submit">
        <i class="bi bi-arrow-up"></i>
      </button>
    </form>
    <form action="" method="">
      <input type="hidden" name="search" value="{{userSearch}}" />
      <input type="hidden" name="order" value="asc" />
      <button type="submit">
        <i class="bi bi-arrow-down"></i>
      </button>
    </form>
    <a href="/">Clear</a>
  </div>
</div>
<div class="thoughts-container">
  {{#each thoughts}}
    <figure>
      <blockquote>
        "{{this.title}}"
      </blockquote>
      <figcaption>
        By <span>{{this.User.name}}</span>
      </figcaption>
    </figure>
  {{/each}}
</div>